@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.editor__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .editor {
    width: 100%;
    flex-grow: 1;
    font-family: Montserrat;
    font-weight: 500;
    margin-bottom: 20px;
    border: none;
    outline: none;
    appearance: none;
    background: none;
    resize: none;
  }