/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/components/main-layout/main-layout.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.mainLayout {
    display: flex;
    height: 100vh;
  }
  
  .mainLayout__col {
    flex: 1;
    padding: 1.875rem;
  }
  
  .mainLayout__col:not(:last-child) {
    border-right: 3px solid var(--dark);
  }
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/components/title-bar/title-bar.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.titleBar__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/components/editor/editor.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.editor__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .editor {
    width: 100%;
    flex-grow: 1;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    resize: none;
  }
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/components/preview/preview.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.preview {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .preview__scroll {
    overflow: auto;
    flex-grow: 1;
  }
